* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.stopwatch {
  background-color: transparent;
  box-shadow: 0 0 10px #000;
  padding: 20px 24px;
  border-radius: 10px;
  text-align: center;
}
.timerDisplay {
  font-size: 40px;
  font-weight: bold;
}
.buttons {
  margin-top: 20px;
}
.btn {
  font-size: 20px;
  background: none;
  border: none;
  background-color: var(--clr);
  padding: 8px 12px;
  margin-inline: 12px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
